---
import { getCollection } from 'astro:content';
import Layout from "@layouts/Default.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
import { ViewTransitions } from 'astro:transitions';
import BlogList from '@components/blog/BlogList.astro';
import { Image } from 'astro:assets';

// Import assets
import manuelImage from '../assets/manuel.png';

const posts = await getCollection('blog').then((collection) =>
  collection
  
);

const builtWith = [
  { name: "Elevenlabs", url: "#" },
  { name: "Synthesia", url: "#" },
  {
    name: "Heygen",
    url: "#",
  },
  { name: "Stable Diffusion", url: "#" },
  
  {
    name: "CrewAI",
    url: "#",
  },
  
  { name: "Adobe After Effects", url: "#" },
  { name: "Blender", url: "#" },
  { name: "Figma", url: "#" }
];
---
<ViewTransitions />
<Layout
  transition:name="hero"
  title="Manuelito.tech"
  pageTitle="Home"
  description="Creative Technologist : Synthetic Voice-over & Personal avatar specialist"
>
  <main class="p-6">
    <MobileSocials />
    <section id="about" class="grid lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-8  gap-8 mt-4">
      <video
        transition:persist
        class="video-bg"
        playsinline
        autoplay
        muted
        loop
        id="bgvid"
      >
        <source src="/sky.mp4" type="video/mp4" />
      </video>
      <h2 class="hidden">Manuelito.tech</h2>
      <div class="col-span-8">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 frick text-2xl md:text-5xl lg:text-7xl">
              <strong>MANUEL THOMSEN</strong>
            </p>
            <p class="mt-2 frick text-xl md:text-3xl lg:text-5xl" style="color: var(--dark-grey);">
              Creative Technologist
            </p>
            <p class="mt-2 frick text-xl md:text-xl lg:text-3xl">
              Synthetic Voice-over & Personal avatar specialist
            </p>
          </div>
        </Card>
      </div>
      <div class="md:col-span-4 col-span-4 md:row-span-3 row-span-3">
        <Card>
          <Image src={manuelImage} alt="Manuel Thomsen" />
        </Card>
      </div>
      
      <div class="md:col-span-2 col-span-8">
        <Card>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-4 frick">
            <strong>Who am I</strong>
          </h2>
          <p class="uncut">
            I'm a versatile and curious person by trade. I 've always been
            naturally drawn to new technology and processes.
          </p>
        </Card>
      </div>
      <div class="md:col-span-2 col-span-8">
        <Card>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-4 frick">
            <strong>Work</strong>
          </h2>
          <p class="uncut">
            I'm currently working as a <strong>Creative Technologist</strong> at <strong>VML Studios</strong> for some of worlds biggest brands.
          </p>
        </Card>
      </div>
      <div class="md:col-span-2 col-span-8">
        <Card>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-4 frick">
            <strong>Passion</strong>
          </h2>
          <p class="uncut">
            I'm driven by <strong>creative people</strong> and <strong>creative intent</strong>. I belive that in the age of generative AI and synthetic media, it's more important than ever to have tools and technology centered around giving creative work more thought and intent.
          </p>
        </Card>
      </div>
      <div class="md:col-span-4 col-span-4">
        <Card>
          <h2 class="text-2xl md:text-3xl lg:text-5xl mb-8 frick">
            Toolbelt
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="uncut"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <br><br><br>
    <!-- <BlogList posts={posts} />   -->
  </main>
  
</Layout>
