---
import { getCollection } from 'astro:content';
import Layout from "@layouts/Default.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
import { ViewTransitions } from 'astro:transitions';
import BlogList from '@components/blog/BlogList.astro';
import { Image } from 'astro:assets';

// Import assets
import manuelImage from '../assets/manuel.png';
import AmazonLogo from '../assets/Amazon_2024.svg.png';
import ColgateLogo from '../assets/Colgate.svg.png';
import DellLogo from '../assets/Dell_Technologies_logo.svg.png';
import MicrosoftLogo from '../assets/Microsoft_logo_(2012).svg.png';

const posts = await getCollection('blog').then((collection) =>
  collection
  
);

const builtWith = [
  { name: "Elevenlabs", url: "#" },
  { name: "Synthesia", url: "#" },
  {
    name: "Heygen",
    url: "#",
  },
  { name: "ComfyUI", url: "#" },
  
  {
    name: "CrewAI",
    url: "#",
  },
  
  { name: "Adobe After Effects", url: "#" },
  { name: "Blender", url: "#" },
  { name: "Figma", url: "#" },
  { name: "Python", url: "#" },
];
---
<ViewTransitions />
<Layout
  transition:name="hero"
  title="Manuelito.tech"
  pageTitle="Home"
  description="Creative Technologist : Synthetic Voice-over & Personal avatar specialist"
>
  <main class="p-6">
    <MobileSocials />
    <section id="about" class="grid lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-8  gap-8 mt-4">
      <video
        transition:persist
        class="video-bg "
        playsinline
        autoplay
        muted
        loop
        id="bgvid"
      >
        <source src="/sky.mp4" type="video/mp4" />
      </video>
      <h2 class="hidden">Manuelito.tech</h2>
      <div class="col-span-8">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 frick text-2xl md:text-5xl lg:text-7xl">
              MANUEL THOMSEN
            </p>
            <p class="mt-2 frick text-xl md:text-3xl lg:text-5xl" style="color: var(--dark-grey);">
              Creative Technologist
            </p>
            <p class="mt-2 frick text-xl md:text-xl lg:text-3xl">
              Synthetic Voice-over & AI avatar specialist
            </p>
          </div>
        </Card>
      </div>
      <div class="md:col-span-4 col-span-4 md:row-span-3 row-span-3">
        <Card>
          <Image src={manuelImage} alt="Manuel Thomsen" />
        </Card>
      </div>
      
      <div class="md:col-span-2 col-span-8">
        <Card>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-4 frick">
            Who am I
          </h2>
          <p class="uncut">
            I'm a driven multi-disciplinary <strong>creative technologist</strong> with a passion for creating meaningful and impactful experiences through technology.
          </p>
        </Card>
      </div>
      <div class="md:col-span-2 col-span-8">
        <Card>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-4 frick">
            Passion
          </h2>
          <p class="uncut">
            I'm driven by <strong>creative people</strong> and <strong>creative intent</strong>. I belive that in the age of generative AI and synthetic media, it's more important than ever to have tools and technology centered around giving creative work more thought and intent.
          </p>
        </Card>
      </div>
      <div class="md:col-span-4 col-span-4">
        <Card>
          <h2 class="text-2xl md:text-3xl lg:text-5xl mb-8 frick">
            Skillset
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="uncut"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
          <br>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-8 frick">
            Services
          </h2>
          <ul class="flex gap-4 flex-wrap">

            <li><Pill>Personal Synthetic voice creation</Pill></li>
            <li><Pill>Synthetic voice-over</Pill></li>
            <li><Pill>AI avatar creation</Pill></li>
            <li><Pill>AI Video translation</Pill></li>
            <li><Pill>Automated video production</Pill></li>
            <li><Pill>Software development</Pill></li>
            <li><Pill>Game Design</Pill></li>
            <li><Pill>DOOH Concepting</Pill></li>
            <li><Pill>Gen-AI Consulting</Pill></li>
        
          </ul>
        </Card>
      </div>
      <div class="md:col-span-4 col-span-8">
        <Card>
          <h2 class="text-2xl md:text-2xl lg:text-4xl mb-4 frick">
            Work
          </h2>
          <p class="uncut pb-4">
            I'm currently working as a <strong>Creative Technologist</strong> at <strong>VML Studios</strong> for some of worlds biggest brands.
          </p>
          <div class="flex flex-row gap-8 flex-wrap justify-center">
            <Image class="h-auto p-4" src={DellLogo} alt="Dell Logo" />
            <Image class="w-1/2 h-auto p-4" src={AmazonLogo} alt="Amazon Logo" />
            <Image class="w-1/2 h-auto p-4" src={MicrosoftLogo} alt="Microsoft Logo" />
          </div>
        </Card>
        
      </div>
    
    </section>
    <br><br><br>
  </main>
  
</Layout>
